Source: lvglcharger
Priority: optional
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Build-Depends: debhelper-compat (= 13),
               libinih-dev,
               libdrm-dev,
               libminui-dev,
               meson (>= 0.53.0),
               pkg-config,
Standards-Version: 4.6.1.0
Section: libs
Vcs-Git: https://github.com/FuriLabs/lvglcharger.git
Vcs-Browser: https://github.com/FuriLabs/lvglcharger
Rules-Requires-Root: no

Package: lvglcharger
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Charger mode program using LVGL
