Source: furios-recovery
Priority: optional
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Build-Depends: debhelper-compat (= 13),
               libinih-dev,
               libinput-dev,
               libxkbcommon-dev,
               libdrm-dev,
               libminui-dev,
               libcryptsetup-dev,
               meson (>= 0.53.0),
               pkg-config,
               libzstd-dev
Standards-Version: 4.6.1.0
Section: libs
Vcs-Git: https://github.com/FuriLabs/furios-recovery.git
Vcs-Browser: https://github.com/FuriLabs/furios-recovery
Rules-Requires-Root: no

Package: furios-recovery
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         zstd
Description: Recovery project for the initramfs based on LVGL
