#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -Dwith-minui=enabled -Ddefault_library=static

override_dh_installinitramfs:
	dh_installinitramfs --no-scripts

override_dh_auto_install:
	dh_auto_install
	cp $(CURDIR)/debian/furios-recovery.droidian.conf $(CURDIR)/debian/furios-recovery/etc/furios-recovery.conf
